/*Footer*/

@import '../helpers/_variables.scss';


div.footer_area {
	@include ft-bg;
	div.footer {

		div.container {
			border-color: white;
			border-style: solid;
			border-width: 0px 30px 0px 30px;
			background-color: #e8603c;
			div.single_footer {
			float: left; width: 33.3%;
		}
		}
		

	}
	div.social_area {
		li {list-style: none; display: inline-block;}
	}
}