/*Header*/

header.header_area {
	a{text-decoration: none;}
	display: inline-block;
	width: 100%;
	div.logo {
		font-family: Bebas;
		float: left;
				h1 {
					span {color: pink;}
				}
			}
	div.mainmenu { float: right; width: 30%; margin-top: 2%;
			ul#nav li{
					a {color: grey;}
					list-style: none; 
					display: inline;
					padding: 2%;
					width: 100%;

					.active {color: orange; font-weight: bold;}
				}
	}
}

div#ei-slider {
	img {width: 100%;
		height: auto;}
}

/*Subtitulo*/

div.sb_area {
	@include ft-bg;
	div.subtitulo {

		div.container {
			border-color: white;
			border-style: solid;
			border-width: 0px 30px 0px 30px;
			background-color: #e8603c;	}
	}
}