/*Blog*/

.bottom{ 
	background-image: url(../images/post_border_bg.png);
	max-height: 20px;
	max-width: 100%;
}

.blog2 {
	.col-md-9 {
			padding:2% 0 2% 0;
	}
	.quot {
		background-image: url(../images/quote_bg.png);
	}
}

.top {position: absolute;}